
            <!-- Registration Form -->
               <div class="form signup">
                <span class="title" style="text-align:center ; display: block; font-size: 2rem; padding-top: 2rem;text-decoration: underline;text-decoration-color: blue;font-family:'Times New Roman', Times, serif;font-weight: bolder;">Registration</span>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
        
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Create a password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password"placeholder="Confirm a password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
            
                    
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">I accepted all terms and conditions</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Signup" >
                    </div>
                </form> 
                <div class="login-signup">
                  <span class="text">Already a member?
                      <a class="text login-link" [routerLink]="'/user'">Login Now</a>
                  </span>
              </div>