
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <span> <mat-icon>menu</mat-icon>
        To-Do List Application </span>

      <div class="spacer"></div>

      <a mat-button routerLink="home">Home </a>
      <a mat-raised-button routerLink="admin">Admin Login </a>
      <a mat-button routerLink="user">User Login </a>
      <a mat-button routerLink="about">About </a>
      <a mat-button routerLink="feedback">Feedback </a>
      <!-- <a mat-raised-button color="accent" routerLink="">Log Out </a> -->
      

    </mat-toolbar>

  
  