
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <span> <mat-icon>menu</mat-icon>
        To-Do List Application </span>

      <div class="spacer"></div>

      <a mat-button routerLink="home">Home </a>
      <a mat-raised-button routerLink="admin">Admin Login </a>
      <a mat-button routerLink="user">User Login </a>
      <a mat-button routerLink="admin">About </a>
      <a mat-button routerLink="admin">Services </a>
      <a mat-raised-button color="accent" routerLink="admin">Log Out </a>
      

    </mat-toolbar>

  
  