.wrapper {
    margin: 12rem auto;
    /* border: 2px red solid; */
    
    width: 50%;
    /* background-color: aqua; */
  }

  .wrapper .task-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 2px yellow solid; */
  }
  
  .wrapper .task-input img {
    position: absolute;
    top: 10px;
    right: 200px;
    padding-top: 2px;
  }