<lottie-player src="https://assets8.lottiefiles.com/packages/lf20_z4cshyhf.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px; margin-left:  500px; ;"  loop  autoplay></lottie-player>

<app-add-task></app-add-task>

<app-edit-task></app-edit-task>

<app-priority-level></app-priority-level>

<app-task-cancellation></app-task-cancellation>

<app-task-deadline-setting></app-task-deadline-setting>

<app-task-details-check></app-task-details-check>

<app-view-user-data></app-view-user-data>